/* Font Settings */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

body {
  font-family: 'open sans',arial,sans-serif;
}

/* Main Styling */
body{
  background: black;
  color:white;
}

h1 {
  text-align: center;
}

td, th {
  border: 1px none;
  padding: 3px;
}

th {
  text-align: right;
}

th:nth-child(2) {
  text-align: left;
}

.objectTR {
  display:none;
}

/* Responsiveness */
div.left {
  width: 16%;
  float:left;
  padding-top:20px;
}

div.right {
  width: 16%;
  float:left;
  padding-top:20px;
}

div.center {
  width: 55%;
  float:left;
  padding:20px;
}

@media (max-width:950px) {
  div.left, div.center, div.right {
    width:100%;/*The width is 100%, when the viewport is 800px or smaller*/
    padding-top:10px;
    float:none;
    text-align:center;
  }
}
/* Tabbed Menu */
/* Style the tab */
div.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  width: 97%
}

/* Scrollbox */
.scrollbox {
  border: none;
  padding: 10px;
  min-width: 15vw;
  height: 25vw;
  overflow: scroll;
  text-align: left;
}
