<mat-sidenav-container class="nav-container">
	<mat-sidenav mode="side" class="sidebar" opened>
		<mat-action-list>
			<mat-form-field class="searchbar">
				<mat-label>Search</mat-label>
				<input matInput placeholder="Object Name..." >
			</mat-form-field>
			<button class="icon-button">
				<mat-icon>search</mat-icon>
			</button>

			<div matSubheader>
				<h4>Solar Systems</h4>
				<button class="icon-button header-button" (click)="addSystem()">
					<mat-icon>add</mat-icon>
				</button>
			</div>
			<sidenav-system *ngFor="let system of systems" [solarSystem]="system" (solarSystemChanged)="updateSystem($event)"></sidenav-system>
		</mat-action-list>
	</mat-sidenav>

	<mat-sidenav-content [hidden]="!hasSelection">
		<app-star-editor [hidden]="!currentIsStar" [star]="current" (starChanged)="updateObject($event)"></app-star-editor>
		<app-planet-editor [hidden]="!currentIsPlanet" [planet]="current" (planetChanged)="updateObject($event)"></app-planet-editor>
	</mat-sidenav-content>
</mat-sidenav-container>