.editor-row {
	display: flex;
	align-content: center;
	height: 32px;
	min-height: 32px;
	margin: 4px;
}

.big-editor-row {
	height: unset;
}

.title-column {
	width: 20%;
	text-align: right;
	padding-right: 1em;
	align-self: center;
	align-content: baseline;
}

.data-column {
	align-self: center;
}

.editor-label {
	display: inline-block;
	width: 111px;
	text-align: right;
}

.long-text-label {
	display: contents;
	white-space: pre-wrap;
}