<div class="editor-row">
	<div class="title-column"><b>Name</b></div>
	<div class="data-column"><input [(ngModel)]="currentName"/></div>	
</div>

<div class="editor-row">
	<div class="title-column"><b>Mass</b></div>
	<div class="data-column"><unit-value-input [unitValue]="currentMass" [editable]="true" [lowerBound]="massLowerBound" 
		(unitValueChange)="changeMass($event)"></unit-value-input></div>
</div>

<div class="editor-row">
	<div class="title-column"><b>Luminosity</b></div>
	<div class="data-column"><unit-value-input [unitValue]="currentStar.getLuminosity()"></unit-value-input></div>
</div>

<div class="editor-row">
	<div class="title-column"><b>Radius</b></div>
	<div class="data-column"><unit-value-input [unitValue]="currentStar.getRadius()"></unit-value-input></div>
</div>

<div class="editor-row">
	<div class="title-column"><b>Temperauture</b></div>
	<div class="data-column"><unit-value-input [unitValue]="currentStar.getTemperature()"></unit-value-input></div>
</div>

<div class="editor-row">
	<div class="title-column"><b>Lifetime</b></div>
	<div class="data-column"><unit-value-input [unitValue]="currentStar.getLifetime()"></unit-value-input></div>
</div>

<div class="editor-row">
	<div class="title-column"><b>Habitable zone (inner)</b></div>
	<div class="data-column"><unit-value-input [unitValue]="currentStar.getHabitableInner()"></unit-value-input></div>
</div>

<div class="editor-row">
	<div class="title-column"><b>Habitable zone (outer)</b></div>
	<div class="data-column"><unit-value-input [unitValue]="currentStar.getHabitableOuter()"></unit-value-input></div>
</div>

<div class="editor-row">
	<div class="title-column"><b>Star Class</b></div>
	<div class="data-column"><label class="editor-label">{{currentStar.getStarClass()}}</label></div>
</div>

<div class="editor-row big-editor-row">
	<div class="title-column"><b>Habitability</b></div>
	<div class="data-column"><label class="editor-label long-text-label">{{currentStar.getHabitablility()}}</label></div>
</div>